@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon"/>
</head>
<body>
<link rel="stylesheet" href="~/styles/layout.css">
<header>
    <div class="topBar">
        <div id="flag">
            <div class="wave2"></div>
            <div class="wave3"></div>
        </div>
        <div class="topBarContext">
            <a asp-controller="Home" asp-action="Index">
                <div>Кафедра неврологии Официальный сайт</div>
                <div>ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента РФ</div>
            </a>
        </div>
        <img src="~/images/Upravlenie-Delami-Presidenta-Gerb.svg" width="100px" height="100px" alt=""/>
    </div>
    <div class="top_panel">
        <button class="bLeft">&#11164;</button>
        <div class="top_nav_panel"><a></a></div>
        <button class="bRight">&#11166;</button>
    </div>
</header>
@RenderBody()
<hr/>
<footer>Авторские права © 2010-2023 Кафедра неврологии ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента РФ</footer>
<script src="~/scripts/topPanelNavigation.js"></script>
</body>
</html>