<div>Для доступа в библиотеку введите пароль</div>
<input type="text" name="password" id="passwordField" required="required"/>
<button id="sendPassword">Отправить</button>

<script src="~/scripts/libraryAccess.js"></script>