@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

/* Стили для устройств с шириной экрана от 1280px и более (большие десктопы) */
@media only screen and (min-width: 1280px) {
    main {
        margin-bottom: 20px;
        display: flex;
        height: 100%;
    }

    .main__content > img {
        width: 360px;
        height: 292px;
        border-radius: 7px;
    }

    .content {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .content > fieldset {
        margin-top: auto;
    }

    .main__content {
        display: flex;
        flex-direction: row;
    }

    .context {
        margin-top: -4px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        height: fit-content;
        max-height: 400px;
        overflow: auto;
    }

    .context > h3 {
        width: 100%;
        font-family: var(--beautifulFont);
        font-size: 23px;
        margin-bottom: 20px;
    }

    .context > div {
        text-align: left;
        width: 100%;
        font-size: 23px;
    }

    .context > div > a {
        text-decoration: none;
        color: #534fff
    }

    .context > div > a:hover {
        color: #a3b0ec;
    }

    .context > div:last-child {
        margin-top: 30px;
    }

    .employee_wrapper {
        border-radius: 7px;
        margin: 10px;
        max-width: 400px;
        min-width: 250px;
        border: 1px solid #606060;
        height: auto;
        min-height: 60%;
        max-height: 80%;
    }

    .employee_wrapper > h3 {
        border-bottom: 2px solid black;
        padding: 10px 5px;
        text-align: center;
    }
    
    .employee_list {
        display: flex;
        flex-direction: column;
        overflow: auto;
        max-height: 90%;
    }

    .employee_list > a {
        margin: 5px 10px;
        text-decoration: none;
        color: black;
        font-family: Arial, serif;
        font-size: 19px;
        transition: all 200ms ease-in-out;
        border-radius: 13px;
    }

    .content > fieldset {
        align-self: start;
        border: 3px solid #7f7f7f;
        margin-top: auto;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        border-radius: 7px;
        padding: 35px;
        max-width: 70%;
    }

    .content > fieldset > legend {
        margin: 0 50px;
        padding: 0 15px;
        font-size: 20px;
    }

    .content > fieldset > legend > a {
        text-decoration: none;
        color: #555555;
        font-weight: 600;
        transition: color 100ms ease-in-out;
    }

    .content > fieldset > div {
        font-family: Arial, serif;
        font-size: 20px;
        display: flex;
    }

    .content > fieldset > div div > div:first-child {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
        padding-left: 5px;
        margin-bottom: 10px;
    }

    .content > fieldset > div > div:last-child {
        border-left: 2px solid black;
        padding-left: 10px;
    }

    .content > fieldset > div:nth-child(3) {
        margin-top: 20px;
        font-size: 21px;
        padding: 10px 10px 10px 0;
    }

    .content > fieldset > div > div:first-child {
        padding-right: 15px;
    }

    .employee_list > a:hover {
        padding: 5px 10px;
        background-color: #c8c8c8;
    }
}

.content > fieldset > legend > a:hover{
    color: #000000;
}