:root {
    --beautifulFont: "Verdana", serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: var(--beautifulFont), serif;
}

header {
    user-select: none;
    width: 100vw;
    height: fit-content;
    display: -webkit-flex; /* Для старых версий Safari */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #b2b2b2;
}

.top_nav_panel {
    height: 45px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #c5c5c5;
}

.top_nav_panel > a {
    white-space: nowrap;
    max-height: 45px;
    text-align: center;
    margin: 0 10px;
    padding: 1vmin;
    font-size: 20px;
    font-family: Monospaced, serif;
    text-decoration: none;
    color: black;
    transition: background 180ms ease-in-out;
}

.top_nav_panel > a:hover {
    border-radius: 4px;
    background: #cecece;
}

.topBar {
    background: #d9effc;
    display: -webkit-flex; /* Для старых версий Safari */
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.topBar > img {
    margin-left: auto;
    margin-right: 20px;
    -webkit-align-self: center; /* Для старых версий Safari */
    align-self: center;
    -webkit-justify-self: flex-end; /* Для старых версий Safari */
    justify-self: flex-end;
}

.topBarContext {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 27px;
    font-family: Calibri, serif;
    font-weight: 600;
}

.topBarContext > a {
    color: black;
    text-decoration: none;
    transition: color 150ms ease-in-out;
    border: none;
}

.topBarContext > a:hover {
    color: #8c8c8c;
}

.topBarContext > a > div:first-child {
    font-size: 25px;
    font-family: Calibri, serif;
    font-weight: 500;
}

/* Стили для кнопки и выпадающего списка */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    white-space: nowrap;
    background: none;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: Monospaced, serif;
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
    transition: background 150ms ease-out;
}

.dropbtn:hover {
    background: #cecece;
}

.dropdown-content {
    margin-top: 5px;
    display: none;
    border-radius: 13px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #b2b2b2;
}

/* Стили для ссылок в выпадающем списке */
.dropdown-content a {
    border-radius: 7px;
    color: black;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #c6c6c6;
}

/* Изменение стилей при наведении курсора на кнопку */
.dropdown:hover .dropdown-content {
    display: block;
}

#flag {
    border: 1px solid #c6c6c6;
    min-width: 100px;
    min-height: 100px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 300px;
    background: #fff;
    margin: 10px;
    overflow: hidden;
}

.wave2, .wave3 {
    left: -50%;
    position: absolute;
    width: 200%;
    height: 200%;
    border-radius: 45%;
    animation: wave 10s linear infinite;
}

.wave2 {
    top: 30%;
    background-color: blue;
}

.wave3 {
    top: 66%;
    background-color: red;
}

@keyframes wave {
    100% {
        transform: rotate(360deg);
    }
}

/* Стили для скроллбара */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 7px;
}
