:root {
    --beautifulFont: "Verdana", serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body,
html {
    height: 100%;
    width: 100vw;
    min-width: 400px;
    font-family: var(--beautifulFont), serif;
    overflow-x: auto;
    overflow-y: auto;
}

header {
    user-select: none;
    min-width: 100vw;
    height: fit-content;
    display: -webkit-flex; /* Для старых версий Safari */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #b2b2b2;
}

.top_panel {
    background-color: #ededed;
    height: 53px;
    max-height: 59px;
    width: 100%;
    min-width: 300px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #c5c5c5;
}

.bRight,.bLeft {
    z-index: 99999;
    visibility: visible;
    color: #383838;
    font-size: 35px;
    border: none;
    outline: none;
    transition: 200ms all ease-out;
}

.bRight:hover,.bLeft:hover{
    color: #000000;
}

.bRight:active,.bLeft:active{
    color: #adadad;
}

.bRight {
    margin-left: auto;
    margin-right: 30px;
}

.bLeft {
    margin-right: auto;
    margin-left: 30px;
}

.top_nav_panel {
    width: 85%;
    height: inherit;
    background-color: red;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top_nav_panel > a {
    width: 451px;
    background-color: green;
    text-align: center;
    white-space: nowrap;
    max-height: 45px;
    margin: 0 10px;
    padding: 1vmin;
    font-size: 20px;
    font-family: Monospaced, serif;
    text-decoration: none;
    color: black;
    transition: background 180ms ease-in-out;
}

.top_nav_panel > a:hover {
    border-radius: 4px;
    background: #cecece;
}

.topBar {
    background: #d9effc;
    display: -webkit-flex; /* Для старых версий Safari */
    display: flex;
    flex-direction: row;
    width: 100%;
}

.topBar > img {
    margin-left: auto;
    margin-right: 20px;
    -webkit-align-self: center; /* Для старых версий Safari */
    align-self: center;
    -webkit-justify-self: flex-end; /* Для старых версий Safari */
    justify-self: flex-end;
}

.topBarContext {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 27px;
    font-family: Calibri, serif;
    font-weight: 600;
}

.topBarContext > a {
    color: black;
    text-decoration: none;
    transition: color 150ms ease-in-out;
    border: none;
}

.topBarContext > a:hover {
    color: #8c8c8c;
}

.topBarContext > a > div:first-child {
    font-size: 25px;
    font-family: Calibri, serif;
    font-weight: 500;
}

.dropdown-content {
    margin-top: 5px;
    display: none;
    width: 300px;
    border-radius: 13px;
    position: fixed;
    background-color: #efefef;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #b2b2b2;
}

/* Стили для ссылок в выпадающем списке */
.dropdown-content a {
    border-radius: 7px;
    color: black;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #c6c6c6;
}

#flag {
    border: 1px solid #c6c6c6;
    min-width: 100px;
    min-height: 100px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 300px;
    background: #fff;
    margin: 10px;
    overflow: hidden;
}

.wave2, .wave3 {
    left: -50%;
    position: absolute;
    width: 200%;
    height: 200%;
    border-radius: 45%;
    animation: wave 10s linear infinite;
}

.wave2 {
    top: 30%;
    background-color: blue;
}

.wave3 {
    top: 66%;
    background-color: red;
}

@keyframes wave {
    100% {
        transform: rotate(360deg);
    }
}

/* Стили для скроллбара */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 13px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 7px;
}

hr {
    position: fixed;
    bottom: 32px;
    width: 100%;
}

footer {
    white-space: nowrap;
    font-family: Calibri, serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.anim {
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from  {
        transform: translateX(0);
    }
    to {
        transform: translateX(-120px);
    }
}