/* Установка переменной для шрифта по умолчанию */
:root {
    --beautifulFont: "Verdana", serif;
}

/* Сброс стилей для всех элементов */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Используем box-sizing: border-box для модели бокса */
}

/* Базовые стили для body и html элементов */
body,
html {
    height: 100%;
    width: 100vw;
    min-width: 400px;
    font-family: var(--beautifulFont), serif;
    overflow-x: auto;
    overflow-y: auto;
}

/* Стили для шапки */
header {
    user-select: none;
    min-width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #b2b2b2;
}

/* Стили для верхней панели */
.top_panel {
    background-color: #ededed;
    height: 53px;
    max-height: 59px;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #c5c5c5;
}

/* Стили для кнопок слева и справа в верхней панели */
#bRight, #bLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 5px;
    border-radius: 45px;
    z-index: 99999;
    visibility: hidden;
    font-family: 'Arial', sans-serif; /* Замените 'Arial' на подходящий шрифт */
    font-size: 35px;
    outline: none;
}

#bRight:hover, #bLeft:hover {
    cursor: pointer;
}

#bRight:active, #bLeft:active {
    color: #adadad;
}

#bRight {
    margin-left: auto;
    margin-right: 30px;
}

#bRight > img {
    transform: rotate(180deg);
}

#bLeft {
    margin-right: auto;
    margin-left: 30px;
}

/* Стили для верхней навигационной панели */
.top_nav_panel {
    width: 85%;
    height: inherit;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Стили для ссылок и блоков в верхней навигационной панели */
.top_nav_panel > a, .top_nav_panel > div {
    background-color: #d8d8d8;
    border-radius: 7px;
    width: 460px;
    min-width: fit-content;
    text-align: center;
    white-space: nowrap;
    max-height: 45px;
    margin: 0 10px;
    padding: 1vmin;
    font-size: 22px;
    font-family: Monospaced, serif;
    text-decoration: none;
    color: black;
    transition: background 180ms ease-in-out;
}

/* Изменение стилей при наведении на ссылки и блоки */
.top_nav_panel > a:hover, .top_nav_panel > div:hover {
    background: #959595;
}

/* Стили для верхней панели */
.topBar {
    background: #d9effc;
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Стили для изображения в верхней панели */
.topBar > img {
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
    justify-self: flex-end;
}

/* Стили для контекста в верхней панели */
.topBarContext {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 27px;
    font-family: Calibri, serif;
    font-weight: 600;
    justify-content: center;
}

.topBarContext > a {
    color: black;
    text-decoration: none;
    transition: color 150ms ease-in-out;
    border: none;
}

.topBarContext > a > div:first-child {
    font-weight: 500;
}

/* Стили для телефонов (предположим, что ширина телефона - 375px) */
@media screen and (max-width: 767px) {
    #bLeft > img ,#bRight > img {
        user-select: none;
        width: 17px;
        height: 17px;
    }

    #bRight {
        margin-right: 10%;
    }

    #bLeft {
        margin-left: 10%;
    }

    .topBar > img {
        width: 50px;
        height: 50px;
        position: relative;
        left: 7px;
    }

    .topBar {
        align-items: center;
        padding-bottom: 10px;
    }

    .topBarContext{
        margin-left: auto;
    }

    .topBarContext > a , .topBarContext > div {
        text-align: center;
    }

    .topBarContext > a {
        font-size: 13px;
        font-weight: 550;
    }
    .topBarContext > a > div:first-child {
        font-size: 12px;
    }

    /* Стили для верхней панели */
    .top_panel {
        height: 27px;
    }

    /* Стили для верхней навигационной панели */
    .top_nav_panel {
        width: 75%;
    }

    /* Стили для ссылок и блоков в верхней навигационной панели */
    .top_nav_panel > a, .top_nav_panel > div {
        border-radius: 10px;
        max-width: 250px;
        min-width: fit-content;
        font-size: 13px;
    }

    #flag {
        min-width: 50px;
        min-height: 50px;

        width: 50px;
        height: 50px;
    }

    footer {
        width: 90vw;
        white-space: normal;
        font-size: 7px;
    }
}

@media screen and (min-width: 1920px) {
    #bLeft > img ,#bRight > img {
        user-select: none;
        width: 27px;
        height: 27px;
    }

    #bRight {
        margin-right: 60px;
    }

    #bLeft {
        margin-left: 60px;
    }

    .topBar > img {
        width: 80px;
        height: 90px;
    }

    .topBar {
        align-items: flex-start;
        padding-top: 5px;
    }

    .topBarContext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topBarContext > a , .topBarContext > div {
        text-align: start;
    }

    .topBarContext > a {
        font-size: 28px;
    }

    .topBarContext > a > div:first-child {
        font-size: 30px;
    }

    /* Стили для верхней панели */
    .top_panel {
        height: 50px;
    }

    .top_nav_panel {
        height: 40px;
        width: 80%;
    }

    /* Стили для ссылок и блоков в верхней навигационной панели */
    .top_nav_panel > a, .top_nav_panel > div {
        border-radius: 7px;
        max-width: 460px;
        min-width: fit-content;
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #flag {
        min-width: 80px;
        min-height: 80px;

        width: 80px;
        height: 80px;
    }

    footer {
        width: 100vw;
        white-space: normal;
        font-size: 17px;
    }
}

/* Стили для экранов WQHD (2560x1440) и выше */
@media screen and (min-width: 2560px) {
    .topBarContext > a {
        font-size: 35px;
    }

    .topBarContext > a > div:first-child {
        font-size: 30px;
    }
}

/* Стили для экранов 4K (3840x2160) и выше */
@media screen and (min-width: 3840px) {
    .topBarContext > a {
        font-size: 40px;
    }

    .topBarContext > a > div:first-child {
        font-size: 35px;
    }
}

/* Стили для ссылок в выпадающем списке */
.dropdown-content a {
    border-radius: 7px;
    color: black;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение стилей при наведении на ссылки в выпадающем списке */
.dropdown-content a:hover {
    background: #c6c6c6;
}

/* Стили для флага */
#flag {
    border: 1px solid #c6c6c6;
    position: relative;
    border-radius: 300px;
    background: #fff;
    margin: 10px;
    overflow: hidden;
}

/* Стили для волн на флаге */
.wave2, .wave3 {
    left: -50%;
    position: absolute;
    width: 200%;
    height: 200%;
    border-radius: 45%;
    animation: wave 10s linear infinite;
}

.wave2 {
    top: 30%;
    background-color: blue;
}

.wave3 {
    top: 66%;
    background-color: red;
}

/* Анимация волн на флаге */
@keyframes wave {
    100% {
        transform: rotate(360deg);
    }
}

/* Стили для скроллбара */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

/* Стили для бегунка скроллбара */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 13px;
}

/* Изменение стилей при наведении на бегунок скроллбара */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Стили для фона скроллбара */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 7px;
}

/* Стили для горизонтальной линии */
hr {
    position: fixed;
    bottom: 32px;
    width: 100%;
}

/* Стили для подвала */
footer {
    white-space: nowrap;
    font-family: Calibri, serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

/* Анимация сдвига */
.anim_right, .anim_left {
    animation-duration: 700ms;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.anim_right {
    animation-name: right;
}

.anim_left {
    animation-name: left;
}

@keyframes left {
    0% {
        transform: translateX(0);
        opacity: 100%;
    }
    25% {
        transform: translateX(400px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: translateX(-400px);
        opacity: 0
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes right {
    0% {
        transform: translateX(0);
        opacity: 100%;
    }
    25% {
        transform: translateX(-400px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: translateX(400px);
        opacity: 0;
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}
