@model dynamic

@{
    ViewData["Title"] = "Главная страница | Официальный сайт кафедры неврологии ФГБУ ДПО \"Центральная государственная медицинская академия\" УД Президента РФ";
    Layout = "_Layout";
}
<link type="text/css" rel="stylesheet" href="~/styles/index.css"/>
<main>
    <div class="left_nav_panel">
        <a href="#"><div>Главная страница</div></a>
        <a href="#"><div>История</div></a>
        <a href="#"><div>Обучение</div></a>
        <a href="#"><div>Библиотека</div></a>
        <a href="#"><div>Научная работа</div></a>
        <a href="#"><div>Клинические базы</div></a>
        <a href="#"><div>Новости и объявления</div></a>
        <a href="#"><div>Новости и объявления</div></a>
        <a href="#"><div>Научный кружок "Школа молодых неврологов"</div></a>
        <a href="#"><div>Ежегодная научно-практическая конференция "Инновационные технологии в области неврологии и смежных специальностей</div></a>
        <a href="#"><div>Ежегодные научно-образовательные конференци "Неврологические образовательные университеты"</div></a>
        <a href="#"><div>Контактная информация</div></a>
    </div>
</main>