@model dynamic

@{
    ViewData["Title"] = "Главная страница | Официальный сайт кафедры неврологии ФГБУ ДПО \"Центральная государственная медицинская академия\" УД Президента РФ";
    Layout = "_Layout";
}
<link type="text/css" rel="stylesheet" href="~/styles/index.css"/>
<main>
    <div class="main__content">
        <div>Кафедра неврологии ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента РФ</div>
        <div class="info__content">
            <img src="~/images/fasad.jpg" alt="Фасад" height="292px" width="390px"/>
            <div class="info__text">
                <div>
                    Кафедра неврологии (до 1990 года – клиника неврологии) основана в 1968 году с первого
                    дня образования ЦНИЛ на базе Городской клинической больницы № 51 г. Москвы.
                    Она осуществляет методическое руководство всей неврологической службой ГМУ.
                    Ее первым заведующим (1968-1980г.г.) был профессор Вячеслав Яковлевич Неретин.
                </div>
                <h4>В настоящее время кафедру возглавляет профессор <a href="#" title="перейти на автобиографию">Владимир Иванович Шмырев</a>.</h4>
                <div>
                    Сотрудниками кафедры постоянно ведется научная работа, организуются научные и учебные мероприятия. Они входят в
                    состав редакционных коллегий ряда научных журналов, в организационные, научные и методические комитеты
                    конференций, симпозиумов и друнгих мероприятий различного, в том числе и международного уровня.
                </div>
            </div>
        </div>
        <div class="teachersInfo">
            <div>На кафедре работают 13 сотрудников, в том числе 4 доктора и 6 кандидатов медицинских наук:</div>
            <div>
                <ul>
                    <li>
                        <a href="#">Зав. кафедрой проф. - Шмырев В.И</a>
                    </li>
                    <li>
                        <a href="#">Зав. учебной.частью Доцент - Демьяновская Е.Г.</a>
                    </li>
                    <li>
                        <a href="#">Доцент - Бабенков Н.В</a>
                    </li>
                    <li>
                        <a href="#">Доцент - Васильев А.С.</a>
                    </li>
                    <li>
                        <a href="#">Доцент - Резков Г.И.</a>
                    </li>
                    <li>
                        <a href="#">Доцент - Каленова И.Е.</a>
                    </li>
                    <li>
                        <a href="#">Доцент - Кожокару А.Б.</a>
                    </li>
                    <li>
                        <a href="#">Доцент - Кравченко Т.И.</a>
                    </li>
                    <li>
                        <a href="#">Доцент - Крыжановский С.М.</a>
                    </li>
                    <li>
                        <a href="#">Ассистент - Ионова Т.С.</a>
                    </li>
                    <li>
                        <a href="#">Ассистент - Михайлова Н.В.</a>
                    </li>
                    <li>
                        <a href="#">Ассистент - Шишкина М.В</a>
                    </li>
                    <li>
                        <a href="#">Ассистент - Устинская С.А</a>
                    </li>
                    <li>
                        <a href="#">Старший лаборант - Петрачкова Н.А</a>
                    </li>
                </ul>
                <fieldset>
                    <legend>Контактная информация</legend>
                    <div>
                        <div class="contacts">
                            <div>Телефон и Fax:</div>
                            <div>+7 (499) 146-83-35 (ГКБ №51)</div>
                            <div>+7 (495) 530-00-86 (ЦКБП, учебная комната №4-26)</div>
                        </div>
                        <div class="address">
                            <div>Адрес</div>
                            <div>
                                Москва, ул. Маршала Тимошенко, 19, стр 1а.
                                ФГБУ ДПО "Центральная государственная медицинская академия"
                                УД Президента РФ. Кафедра неврологии
                            </div>
                        </div>
                    </div>
                    <div>
                        Почта ( Email ): alexvasiliev@mail.ru
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</main>