@model dynamic

@{
    ViewData["Title"] = "Главная страница | Официальный сайт кафедры неврологии ФГБУ ДПО \"Центральная государственная медицинская академия\" УД Президента РФ";
    Layout = "_Layout";
}
<link type="text/css" rel="stylesheet" href="~/styles/index.css"/>
<main>
    <div class="content">
        <div class="main__content">
            <img src="~/images/fasad.jpg" alt="Фасад здания"/>
            <div class="context">
                <h3>Кафедра неврологии ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента РФ</h3>
                <div>Кафедра неврологии (до 1990 года – клиника неврологии) основана в 1968 году с первого дня образования
                    ЦНИЛ на базе Городской клинической больницы № 51 г. Москвы. Она осуществляет методическое руководство
                    всей неврологической службой ГМУ. Ее первым заведующим (1968-1980г.г.) был профессор Вячеслав Яковлевич Неретин.
                    В настоящее время кафедру возглавляет профессор <a href="#">Владимир Иванович Шмырев</a>.
                </div>
                <div>Сотрудниками кафедры постоянно ведется научная работа, организуются научные и учебные мероприятия.
                    Они входят в состав редакционных коллегий ряда научных журналов, в организационные, научные и методические
                    комитеты конференций, симпозиумов и других мероприятий различного, в том числе и международного уровня.
                    На кафедре работают 13 сотрудников, в том числе 4 доктора и 6 кандидатов медицинских наук:
                </div>
            </div>
        </div>
        <fieldset>
            <legend>Контактная информация / <a href="#">Полная</a></legend>
            <div>
                <div>
                    <div>Телефон</div>
                    <div>+7 (499) 146-83-35 (ГКБ №51)</div>
                    <div>+7 (495) 530-00-86 (ЦКБП, учебная комната №4-26)</div>
                    <div>+7 (495) 530-06-73 (ЦКБП, заведующий кафедрой)</div>
                </div>
                <div>
                    <div>Fax</div>
                    <div>+7 (499) 149-83-35 (ГКБ №51)</div>
                    <div>+7 (495) 530-06-73 (ЦКБП)</div>
                </div>
            </div>
            <div>Адресс:
                Москва, ул. Маршала Тимошенко, 19, стр 1а.
                ФГБУ ДПО "Центральная государственная медицинская академия" УД Президента РФ. Кафедра неврологии
            </div>
            <div>Почта: alexvasiliev@mail.ru</div>
        </fieldset>
    </div>
    <div class="employee_wrapper">
        <h3>Сотрудники кафедры</h3>
        <div class="employee_list">
            <a href="#">Заведующий кафедрой проф. Шмырев В.И</a>
            <a href="#">Доцент Бабенков Н.В</a>
            <a href="#">Доцент Васильев А.С</a>
            <a href="#">Заведующий учебной частью Доцент Демьяновская Е.Г</a>
            <a href="#">Доцент Резков Г.И</a>
            <a href="#">Доцент Каленова И.Е</a>
            <a href="#">Доцент Кожокару А.Б</a>
            <a href="#">Доцент Кравченко Т.И</a>
            <a href="#">Доцент Крыжановский С.М</a>
            <a href="#">Ассистент Ионова Т.С</a>
            <a href="#">Ассистент Михайлова Н.В</a>
            <a href="#">Ассистент Шишкина М.В</a>
            <a href="#">Ассистент Устинская С.А</a>
            <a href="#">Старший лаборант Петрачкова Н.А</a>
        </div>
    </div>
</main>
<script></script>