@model dynamic

@{
    ViewData["Title"] = "Главная страница | Официальный сайт кафедры неврологии ФГБУ ДПО \"Центральная государственная медицинская академия\" УД Президента РФ";
    Layout = "_Layout";
}
<link type="text/css" rel="stylesheet" href="~/styles/index.css"/>
<main>
    @* <div class="left_nav_panel"> *@
    @*     <a href="#"><div>История</div></a> *@
    @*     <a href="#"><div>Обучение</div></a> *@
    @*     <a href="#"><div>Библиотека</div></a> *@
    @*     <a href="#"><div>Научная работа</div></a> *@
    @*     <a href="#"><div>Клинические базы</div></a> *@
    @*     <a href="#"><div>Новости и объявления</div></a> *@
    @* </div> *@
</main>