@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link type="text/css" href="~/styles/learning.css" rel="stylesheet"/>

<main id="main_content">
    <h2>Обучение - ординатура, аспирантура (очная и заочная), профессиональная переподготовка (504 часа и более), сертификационные циклы повышения квалификации (усовершенствование 144 часа и более),тематическое усовершенствование (72 часа).</h2>
</main>