@using Kremlin_Neurology.Controllers

@{
    ViewData["Title"] = "Библиотека | Официальный сайт кафедры неврологии ФГБУ ДПО \"Центральная государственная медицинская академия\" УД Президента РФ";
    Layout = "_Layout";
}
<link href="~/styles/library.css" type="text/css" rel="stylesheet"/>

<div id="mainContent">
    <div>Для доступа в библиотеку введите пароль</div>
    <input type="text" placeholder="ведите пароль" name="password" id="passwordField" autocomplete="off"/>
    <button id="sendPassword" accesskey="Enter">Ввести</button>
    <span id="errorMessage"></span>
    <script src="~/scripts/libraryAccess.js"></script>
</div>