@using Kremlin_Neurology.Controllers

@{
    ViewData["Title"] = "Библиотека | Официальный сайт кафедры неврологии ФГБУ ДПО \"Центральная государственная медицинская академия\" УД Президента РФ";
    Layout = "_Layout";
}
<link href="~/styles/library.css" type="text/css" rel="stylesheet"/>
<main id="mainContent">
    <div class="textContent">
        <h3>Электронная библиотека сайта "Кремлевская неврология"</h3>
        <h3>Уважаемые посетители сайта!</h3>
        <h4>С содержанием последних номеров журнала <a href="https://kremlin-medicine.ru/">"Кремлевская медицина. Клинический вестник" можно ознакомиться на сайте журнала.</a></h4>
        <button class="accordion">Инструкция по пользованию библиотекой</button>
        <div class="panel">
            <p>Основная часть материалов библиотеки в формате «*.pdf»<img src="~/images/pdf.gif" alt="PDF"/> требует для просмотра программы Adobe Acrobat reader 9.0 или старше. Если у вас не установлена такая
                программа или при попытке открытия файла выдается сообщение, что он поврежден – установите последнюю версию программы. Это можно сделать на сайте производителя
                по адресу <a href="http://get.adobe.com/reader/?promoid=BUIGO">Ссылка</a> . По умолчанию будет установлена английская или русская версия программы, предназначенная для Вашей операционной системы.
                При желании можно изменить этот выбор, нажав на ссылку «Different language or operating system?» на странице загрузки. Советую также отказаться от установки Free McAfee® Security Scan Plus,
                т.к. возможны конфликты с Вашим антивирусом – просто снимите «галочку» в чекбоксе у названия этой программы.
            </p>
            <p>Ряд книг представлен в формате «*.djvu»<img src="~/images/djvu.jpg" alt="djvu"/> , который требует для просмотра специальной программы, которую можно скачать, например, здесь: <a href="http://windjview.sourceforge.net/ru/">Ссылка</a>.
                Также существует огромное количество самостоятельных программ и плагинов, которые можно найти с помощью любой поисковой машины.
            </p>
        </div>
        <div>
            Ординаторы, аспиранты и курсанты кафедры также могут воспользоваться специальной литературой по неврологии и смежным специальностям, представленной в библиотеке кафедры в учебных комнатах №308 (МАСЦ) и №426 (корпус №10 ЦКБП).
        </div>
        <div class="accordion_wrapper">
            <button class="accordion">A</button>
            <div class="panel">
                <p>Андреева Т.Е., Богачева Л.А., Седова Т.Н. Принципы диагностики и лечения хронических непрогрессирующих головных болей различной этиологии в условиях специализированного поликлинического отделения.
                    Кремлевская медицина. Клинический вестник – 2000. - №3. – С. 35-36 <a href="#">Полный текст статьи <img src="~/images/word.png" alt="word"/></a></p>
                <p>Артамонов А.В. Кардиоцеребральный синдром у лиц пожилого и старческого возраста с преходящими нарушениями мозгового кровообращения (вопросы этиологии, патогенеза и лечения. Автореферат
                    диссертации на соискание ученой степени кандидата медицинских наук, Москва – 2009. <a href="#">Полный текст<img src="~/images/pdf.gif" alt="pdf"/></a></p>
            </div>
            <button class="accordion">Б</button>
            <div class="panel">
                <p>Бадалян Л.О. Детская неврология. Изд. 3-е. М.:Медицина, 1984. – 576с. <a href="#">Полный текст книги <img src="~/images/djvu.jpg" alt="djvu"/></a></p>
                <p>Баранцевич Е.Р., Посохина О.В., Стурова Ю.В. Эффективность препарата ноопепт при дисциркуляторной энцефалопатии. – 
                    Журнал неврологии и психиатрии, №5, 2009г. – 62-64. <a href="#">Полный текст <img src="~/images/pdf.gif" alt="pdf"/></a></p>
            </div>
            <button class="accordion">В</button>
            <div class="panel">
                <p>Васильев А.С., Бабенков Н.В., Носенко Е.М., Андреева Н.Я., Васильева В.В., Крылова С.В., Шушарина Л.Я., Кривецкий А.В., Артамонов А.В., Ермакова Е.В., Заец Т.Я., Клачкова Л.Б., Герасименко Т.Ю., Бардина Н.В., 
                    Ракова-Ваулина Т.С. Реабилитация и ведение больных с полушарным инсультом в свете новой концепции патогенеза постинсультного двигательного дефицита. Ж."Кремлевская медицина. Клинический вестник", 2001г., №2, стр 34-37.
                    <a href="#">Полный текст статьи<img src="~/images/word.png" alt="word"/></a></p>
            </div>
            <button class="accordion">Г</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Д</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Е</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ё</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ж</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">З</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">И</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Й</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">К</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Л</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">М</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Н</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">О</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">П</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Р</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">С</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Т</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">У</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ф</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Х</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ц</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ч</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ш</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ш</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ъ</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ы</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ь</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Э</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ю</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Я</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
        </div>
        <script src="~/scripts/accordionLibrary.js"></script>
    </div>
    <div id="LibraryAccess">
        <div>Для доступа в библиотеку введите пароль</div>
        <input type="text" placeholder="Введите пароль" name="password" id="passwordField" autocomplete="off"/>
        <button id="sendPassword" accesskey="Enter">Ввести</button>
        <span id="errorMessage"></span>
    </div>
    <script src="~/scripts/libraryAccess.js"></script>
</main>
