@using Kremlin_Neurology.Controllers

@{
    ViewData["Title"] = "Библиотека | Официальный сайт кафедры неврологии ФГБУ ДПО \"Центральная государственная медицинская академия\" УД Президента РФ";
    Layout = "_Layout";
}
<link href="~/styles/library.css" type="text/css" rel="stylesheet"/>
<main id="mainContent">
    <div class="textContent">
        <h3>Электронная библиотека сайта "Кремлевская неврология"</h3>
        <h3>Уважаемые посетители сайта!</h3>
        <h4>С содержанием последних номеров журнала <a href="https://kremlin-medicine.ru/">"Кремлевская медицина. Клинический вестник" можно ознакомиться на сайте журнала.</a></h4>
        <div>
            Ординаторы, аспиранты и курсанты кафедры также могут воспользоваться специальной литературой по неврологии и смежным специальностям, представленной в библиотеке кафедры в учебных комнатах №308 (МАСЦ) и №426 (корпус №10 ЦКБП).
        </div>
        <button class="accordion">Инструкция по просмотру файлов</button>
        <div class="panel">
            <p>Основная часть материалов библиотеки в формате «*.pdf»<img src="~/images/pdf.gif" alt="PDF"/> требует для просмотра программы Adobe Acrobat reader 9.0 или старше. Если у вас не установлена такая
                программа или при попытке открытия файла выдается сообщение, что он поврежден – установите последнюю версию программы. Это можно сделать на сайте производителя
                по <a href="http://get.adobe.com/reader/?promoid=BUIGO">предоставленной ссылке</a> . По умолчанию будет установлена английская или русская версия программы, предназначенная для Вашей операционной системы.
                При желании можно изменить этот выбор, нажав на ссылку «Different language or operating system?» на странице загрузки. Советую также отказаться от установки Free McAfee® Security Scan Plus,
                т.к. возможны конфликты с Вашим антивирусом – просто снимите «галочку» в чекбоксе у названия этой программы.
            </p>
            <p>Ряд книг представлен в формате «*.djvu»<img src="~/images/djvu.jpg" alt="djvu"/> , который требует для просмотра специальной программы, которую можно скачать , по <a href="http://windjview.sourceforge.net/ru/">предоставленной ссылке</a>.
                Также существует огромное количество самостоятельных программ и плагинов, которые можно найти с помощью любой поисковой машины.
            </p>
        </div>
        <div class="accordion_wrapper">
            <button class="accordion">A</button>
            <div class="panel">
                <p>Андреева Т.Е., Богачева Л.А., Седова Т.Н. Принципы диагностики и лечения хронических непрогрессирующих головных болей различной этиологии в условиях специализированного поликлинического отделения.
                    Кремлевская медицина. Клинический вестник – 2000. - №3. – С. 35-36 <a title="Word" href="/Download/AndreevaTE.doc">Полный текст статьи <img src="~/images/word.png" alt="word"/></a></p>
                <p>Артамонов А.В. Кардиоцеребральный синдром у лиц пожилого и старческого возраста с преходящими нарушениями мозгового кровообращения (вопросы этиологии, патогенеза и лечения. Автореферат
                    диссертации на соискание ученой степени кандидата медицинских наук, Москва – 2009. <a title="PDF" href="/Download/Artamonov_AV.pdf">Полный текст<img src="~/images/pdf.gif" alt="pdf"/></a></p>
            </div>
            <button class="accordion">Б</button>
            <div class="panel">
                <p>Бадалян Л.О. Детская неврология. Изд. 3-е. М.:Медицина, 1984. – 576с. <a title="ZIP" href="/Download/Badalyan_LO_Detskaya_nevrologiya.zip">Полный текст книги <img src="~/images/djvu.jpg" alt="djvu"/></a></p>
                <p>Баранцевич Е.Р., Посохина О.В., Стурова Ю.В. Эффективность препарата ноопепт при дисциркуляторной энцефалопатии. – 
                    Журнал неврологии и психиатрии, №5, 2009г. – 62-64. <a title="PDF" href="/Download/Barancevich_Posohina_Eff-t_Noo_pri_DE.pdf">Полный текст <img src="~/images/pdf.gif" alt="pdf"/></a></p>
            </div>
            <button class="accordion">В</button>
            <div class="panel">
                <p>Васильев А.С., Бабенков Н.В., Носенко Е.М., Андреева Н.Я., Васильева В.В., Крылова С.В., Шушарина Л.Я., Кривецкий А.В., Артамонов А.В., Ермакова Е.В., Заец Т.Я., Клачкова Л.Б., Герасименко Т.Ю., Бардина Н.В., 
                    Ракова-Ваулина Т.С. Реабилитация и ведение больных с полушарным инсультом в свете новой концепции патогенеза постинсультного двигательного дефицита. Ж."Кремлевская медицина. Клинический вестник", 2001г., №2, стр 34-37.
                    <a title="WORD" href="/Download/kremlin-med_02-01.doc">Полный текст статьи<img src="~/images/word.png" alt="word"/></a>
                </p>
                <p>
                    Васильев А.С., Васильева В.В., Шмырев В.И., Олейникова Е.Н. Мануальная коррекция лимфостаза нижней конечности на фоне беременности. Клиническое наблюдение.
                    – Бюллетень №10 Московского профессионального объединения мануальных терапевтов. Москва, октябрь 2008г., - с. 21-22. <a title="Word" href="/Download/limf-berem-manual.doc">Полный текст статьи <img src="~/images/word.png" alt="word"/></a>
                </p>      
                <p>
                    Васильев А.С., Васильева В.В., Шмырев В.И., Федоров Г.Г.,Олейникова Е.Н. Особенности ведения пациентов с постторакотомическими болевыми синдромами на поздних сроках после операции.
                    Материалы всероссийского научного форума по восстановительной медицине, лечебной физкультуре, курортологии, спортивной медицине и физиотерапии «РеаСпоМед 2008» 27 - 29 февраля 2008 г., Москва, с. 40-41.
                    <a title="PDF" href="/Download/reaspomed_08-40.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a> Источник <a href="https://www.mediexpo.ru/fileadmin/user_upload/content/pdf/cat/rea_08.pdf">Ссылка</a>
                </p>
                <p>
                    Васильев А.С., Васильева В.В., Шмырев В.И., Олейникова Е.Н., Новикова Л.А. Торакалгии у пациентов с посторакотомическим синдромом на поздних сроках после операции. – Шестая Межрегиональная научно-практическая конференция, 
                    посвящённая смежным вопросам неврологии и психиатрии. Новосибирск, Томск 27–28 мая 2009 года. Статьи и тезисы. – с.72.
                    <a title="PDF" href="/Download/NMGU-72.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
                <p>
                    Васильев А., Минушкина Л. Антигипертензивная терапия и профилактика инсультов. Ж. Врач., №12, 2010. - с. 42-45.
                    <a title="PDF" href="/Download/Vrach_12-10_42.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
                <p>
                    Васильев А.С., Шмырев В.И., Васильева В.В. Комплексное лечение нейропатического болевого синдрома у лиц, перенсших ампутации конечностей и травмы периферических нервов. – Ежегодные Давиденковские чтения. 
                    Актуальные проблемы клинической неврологии: материалы Всероссийской юбилейной научно-практической конференции: / Под ред. проф. Жулева Н.М.– СПб.: Изд-во «Человек и его здоровье», 2009, с. 175.
                    <a title="PDF" href="/Download/lobzin_thez175.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a> Источник <a href="https://congress-ph.ru/lobzin_09/lobzin_thez.pdf">Ссылка</a>
                </p>
                <p>
                    Васильева В.В., Васильев А.С., Шмырев В.И. О функциональном подходе к оценке рентгенограмм в практической деятельности мануального терапевта. Материалы всероссийского научного форума по восстановительной медицине,
                    лечебной физкультуре, курортологии, спортивной медицине и физиотерапии «РеаСпоМед 2008» 27 - 29 февраля 2008 г., Москва, с. 41.
                    <a title="PDF" href="/Download/reaspomed_08-41.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a> Источник <a href="https://www.mediexpo.ru/fileadmin/user_upload/content/pdf/cat/rea_08.pdf">Ссылка</a>
                </p>
                <p>
                    Васильева В., Шмырев В., Васильев А. Мышечно-тонический дисбаланс у детей первых недель и месяцев жизни. Ж. Врач. 2010г., №1, – с. 8-10.
                    <a title="PDF" href="/Download/Vrach_01-10.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
            </div>
            <button class="accordion">Г</button>
            <div class="panel">
                <p>
                    Гапонова Н.И., Абдрахманов В.Р., Абдрахманов Ш.В. Болевой синдром, обусловленный остеохондрозом 
                    грудного отдела позвоночника: оптимизация лечения комбинацией лорноксикама и актовегина. Ж. Современная ревматология, 2008, №2, с. 71-72.
                    <a title="PDF" href="/Download/sovrem_revm-02-08-71.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a> Источник <a href="http://rheumatology.beweb.ru/files/maket-2-08.pdf">Ссылка</a>
                </p>
                <p>
                    Гапонова Н.И., Абдрахманов В.Р., Абдрахманов Ш.В. Вертеброгенная кардиалгия: рациональная диагностическая и лечебная тактика. Материалы Всероссийской конференции с международным участием 
                    «Кардиоваскулярная профилактика и реабилитация 2008». 26-27 мая 2008г. Ж. Кардиоваскулярная терапия и профилактика, 2008; 6(4) Приложение 2. с. 34
                    <a title="PDF" href="/Download/Conf_kardiovaskprof_2008-34.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a> Источник <a href="https://www.cardioprevent.ru/Downloads/Conference_tesis2008.pdf">Ссылка</a>
                </p>
                <p>
                    Гладких А.С., Савина Н.М., Кудинова С.П., Байдина О.И., Бугримова М.А., Сидоренко Б.А. Течение хронической сердечной недостаточности у пожилых больных при повторных госпитализациях. – 
                    Материалы XII Международной научно-практической конференции «Пожилой больной. Качество жизни.», Москва, 1-3 октября 2007г. Тезисы.   Ж. Клиническая геронтология. Т.13, №9, 2007г. – с 5.
                    <a title="PDF" href="/Download/kg907-5.pdf">Полный текст тезисов <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
                <p>
                    Головюк А.Л., Чернова Т.Г. Синдром Титце. Ж. Хирургия. 2009г. №10. – с. 65-68.
                    <a title="PDF" href="/Download/HIR_2009_10_15.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a> Источник <a href="https://www.mediasphera.ru/uppic/Khirurgiia%20(Mosk)/2009/10/15/HIR_2009_10_15.pdf">Ссылка</a>
                </p>
            </div>
            <button class="accordion">Д</button>
            <div class="panel">
                <p>
                    Дамулин И.В., Кононенко Е.В. Статолокомоторные нарушения у больных с полушарным инсультом. Ж. Клиническая геронтология. 2007г. №8. – с. 42-49.
                    <a title="PDF" href="/Download/kg_08-07.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
                <p>
                    Дамулин И.В., Кононенко Е.В. Постинсультные расстройства: патогенетические и клинические аспекты. Ж. Болезни сердца и сосудов 2007г. №3. – с. 4-9.
                    <a title="PDF" href="/Download/BSS3_03-07.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
            </div>
            <button class="accordion">Е</button>
            <div class="panel">
                <p>
                    Евдокимов А.Г. Тополянский В.Д. Болезни артерий и вен: справочное руководство для практического врача. – 2-е изд. – М.: Советский спорт, 2001. – 256с
                    <a title="ZIP" href="/Download/Evdokimov_AG_Topolyanskij_VD_Bolezni_arterij_i_ven_(2e_izd).zip">Полный текст книги <img src="~/images/pdf.gif" alt="PDF"/></a>
                    существует издание 2006г, существенно переработанное. Иногда книгу можно бывает приобрести в <a href="https://mdk-arbat.ru/branchs.aspx?SID=32">Медкниге на Комсомольском.</a>
                </p>
            </div>
            <button class="accordion">Ё</button>
            <div class="panel">
            </div>
            <button class="accordion">Ж</button>
            <div class="panel">
            </div>
            <button class="accordion">З</button>
            <div class="panel">
                <p>
                    Захаров В.В., Яхно Н.Н.. Когнитивные расстройства в пожилом и старческом возрасте. Методическое пособие для врачей. Москва, 2005 г. – 71с.
                    <a title="PDF" href="/Download/Zaharov_VV_Kogn-narush.pdf">Полный текст книги <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
                <p>
                    Зубарев А.В. Инновационный путь развития лучевой диагностики. Ж."Кремлевская медицина. Клинический вестник", 2009г., №3, стр 6-7
                    <a title="PDF" href="/Download/Kr-med_03-09_01.pdf">Полный текст книги <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
            </div>
            <button class="accordion">И</button>
            <div class="panel">
            </div>
            <button class="accordion">Й</button>
            <div class="panel">
            </div>
            <button class="accordion">К</button>
             <div class="panel">
                 <p>
                     Караваева Т.А., Полторак С.В., Поляков А.Ю. Применение препарата Ладастен в терапии постинфекционных астенических расстройств. – Русский медицинский журнал. Том 17, №4, 2009г. – с. 276-281
                     <a title="PDF" href="/Download/Karavaeva_Poltorak_Prim-e_Lad_postifekcion_Asten_r-va.pdf">Полный текст <img src="~/images/pdf.gif" alt="PDF"/></a>
                 </p>
                 <p>
                      Кузнецов Н.В.. Болезнь Паркинсона и сосудистый паркинсонизм. Дифференциальная диагностика и лечение. Автореферат диссертации на соискание ученой степени кандидата медицинских наук, Москва – 2009
                     <a title="PDF" href="/Download/Kuznetsov_NV.pdf">Полный текст <img src="~/images/pdf.gif" alt="PDF"/></a>
                 </p>    
                 <p>
                     Кунина О.В., Боброва Л.С., Шмырев В.И., Зинченко Т.Я., Дмитриева Е.Н. Оценка малосимптомного течения атеросклероза по данным дуплексного сканирования магистральных артерий головы у пациентов, длительно получавших статины. 
                     – Материалы XII Международной научно-практической конференции «Пожилой больной. Качество жизни.», Москва, 1-3 октября 2007г. Тезисы. - Ж. Клиническая геронтология. Т.13, №9, 2007г. – с 9-10.
                     <a title="PDF" href="/Download/kg907-9-10.pdf">Полный текст тезисов <img src="~/images/pdf.gif" alt="PDF"/></a>
                 </p>
                 <p>
                    Кунина О.В. Первичная и вторичная профилактика осложнений атеросклероза магистральных артерий головы. Автореферат диссертации на соискание ученой степени кандидата медицинских наук, Москва – 2009.
                     <a title="PDF" href="/Download/Kunina_OV.pdf">Полный текст тезисов <img src="~/images/pdf.gif" alt="PDF"/></a>
                 </p>
            </div>
            <button class="accordion">Л</button>
            <div class="panel">
                <p>
                    Лазерная терапия в лечебно-реабилитационных и профилактических программах: клинические рекомендации / – М., 2015. – 71 с.(предварительная версия)
                    <a title="Word" href="/Download/klin_recom_laser_rehab.doc">Полный текст тезисов <img src="~/images/word.png" alt="Word"/></a>
                </p>
                <p>
                    Лаукарт Е.Б., Шмырев В.И., Васильев А.С. Тарзальный туннельный синдром: нейроортопедические особенности и опыт консервативной терапии. 
                    – Ежегодные Давиденковские чтения. Актуальные проблемы клинической неврологии: материалы Всероссийской юбилейной научно-практической конференции: / Под ред. проф. Жулева Н.М.– СПб.: Изд-во «Человек и его здоровье», 2009, с. 12-13.
                    <a title="PDF" href="/Download/lobzin_thez12.pdf">Полный текст тезисов <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
                <p>
                    Левин О.С. Диагностика и лечение диабетической полинейропатии. Ж. Consilium medicum. т.11. №9, 2009г. – с. 75-81.
                    <a title="PDF" href="/Download/Consilium9_2009-75.pdf">Полный текст статьи <img src="~/images/pdf.gif" alt="PDF"/></a>
                </p>
            </div>
            <button class="accordion">М</button>
            <div class="panel">
                <p>
                    Магнитотерапия в лечебно-реабилитационных и профилактических программах: клинические рекомендации / – М., 2015. – 47 с. (предварительная версия)
                    <a title="WORD" href="/Download/klin_recom_magnit_rehab.doc">Полный текст статьи <img src="~/images/word.png" alt="WORD" /></a>
                </p>
            </div>
            <button class="accordion">Н</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">О</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">П</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Р</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">С</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Т</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">У</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ф</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Х</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ц</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ч</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ш</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ш</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ъ</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ы</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ь</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Э</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Ю</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">Я</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
        </div>
        <script src="~/scripts/accordionLibrary.js"></script>
    </div>
    <div id="LibraryAccess">
        <div>Для доступа в библиотеку введите пароль</div>
        <input type="text" placeholder="Введите пароль" name="password" id="passwordField" autocomplete="off"/>
        <button id="sendPassword" accesskey="Enter">Ввести</button>
        <span id="errorMessage"></span>
    </div>
    <script src="~/scripts/libraryAccess.js"></script>
</main>